.advantages {
  background-color: #F7F7F7;
  flex-direction: column;
  gap: 40px;
  padding: 105px 0px;
}

.advantages article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  max-width: 416px;
}

.advantages_top {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1124px;
  min-height: 370px;
  margin: 0 Auto;
  background-color: white;
  column-gap: 246px;
  row-gap: 150px;
  padding: 120px 36px;

}

img[alt="Computer"] {
  display: block;
  max-width: 386px;
  width: 386px;
  height: 219px;
  position: relative;

}
.advantages_top_computer {
  position: relative;
}

.advantages_top_computer::before {
  content: "";
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 20px;
  position: absolute;
  left: 200px;
  top: -50px;
  background-color: #FB3B64;
  transform: rotate(-45deg);
  z-index: 0;
}


.advantages_center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1124px;
  min-height: 370px;
  margin: 0 Auto;
  background-color: white;
  padding: 30px 36px;
}



.advantages_center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1124px;
  min-height: 370px;
  margin: 0 Auto;
  background-color: white;
  padding: 30px 36px;
  column-gap: 207px;
  row-gap: 50px;

  @media (max-width: 370px) {
    max-width: 280px;
  }
}

.advantages_bottom {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  max-width: 1124px;
  margin: 0 Auto;
  background-color: transparent;
  gap: 0;
  padding: 0;

  @media (max-width: 370px) {
    max-width: 280px;
    align-items: center;
  }
}
.advantages_bottom article {
  background-color: white;
  margin: 0 auto;
  padding: 60px 30px;
  max-width: unset;
  //width: 632px;
  flex-grow: 1;

  @media (max-width: 370px) {
    width: 280px;
  }
}



.advantages_underline {
  width: 327px;
  height: 4px;
  margin-top: 20px;
  background-color: red;
}

.advantages_top_underline {
  background-color: #FB3B64;
}

.advantages_center_underline {
  background-color: #07ACE6;
}

.advantages_bottom_underline {
  background-color: #55DFB4;
}


img[alt="iPhone"] {
  width: 426px;
  height: 328px;
  position: relative;
}

.advantages_center_iphone {
  position: relative;
  padding-top: 22px;
}

.advantages_center_iphone::before {
  content: "";
  display: block;
  width: 330px;
  height: 330px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #08A6E4;
  z-index: 0;
}

img[alt="trumpet"] {
  width: 80%;
  height: auto;
  object-fit: contain;
  object-position: 50% 60%;
}


.advantages_bottom_trumpet {
  width: 50%;
  aspect-ratio: 1;
  background-color: #55DFB4;
  display: flex;
  justify-content: center;
  align-content: center;
}

@media (max-width: 1200px) {
  .advantages {
    padding-top: 60px;
  }

  .advantages_top {
    flex-direction: column-reverse;
    align-items: center;
    min-width: 600px;
  }

  .advantages_center {
    flex-direction: column;
    min-width: 600px;
    align-items: center;

    .advantages_top_computer {
      order: 1;
    }
  }
  
  .advantages_bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1124px;
    margin: 0 Auto;
    background-color: transparent;
    gap: 0px;
    padding: 0;
  }
  .advantages_bottom article {
    max-width: 600px;
    background-color: white;
    margin: 0;
    padding: 60px 40px;

  }

  .advantages_bottom_trumpet {
    width: 100%;
    aspect-ratio: 1.5;
  }

  img[alt="trumpet"] {
    width: 60%;
    height: auto;
    object-fit: contain;
    object-position: 50% 70%;
  }
}

@media (max-width: 650px) {
  .advantages_top,
  .advantages_center,
  .advantages_bottom {
    width: 80%;
    min-width: unset;
  }

  .advantages_top {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-start;
    //max-width: 1124px;
    //min-height: 370px;
    margin: 0 Auto;
    row-gap: unset;
    padding: 100px 36px;

    .advantages_top_computer {
      width: 90%;
      aspect-ratio: 2;
      margin-bottom: 30px;
      img {
        max-width: 100%;
        object-fit: contain;
        object-position: center;
        height: unset;
      }
    }
  }

  .advantages_top_computer::before {
    width: 50%;
    height: unset;
    aspect-ratio: 1;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: #FB3B64;
    transform: translate(0, -100%) rotate(45deg);
    z-index: 0;
  }

  .advantages_underline {
    width: 80%;
  }

  .advantages_bottom article {
    width: 100%;
    min-width: unset;
  }

  img[alt="iPhone"] {
    height: auto;
  }

  .advantages_center_iphone::before {
    width: 60%;
    height: unset;
    aspect-ratio: 1;
    border-radius: 50%;
    left: 0;
    top: 0;

  }
}


@media (max-width: 570px) {
  .advantages_center_iphone {
    width: unset;

    img[alt="iPhone"] {
      width: unset;
      width: 80%;
      aspect-ratio: calc(426 / 328);
      position: relative;
    }
  }
}
//
//@media (max-width: 650px) {
//  .advantages_top {
//    min-width: 100px;
//  }
//
//  .advantages_center {
//    min-width: 100px;
//  }
//  img[alt="Computer"] {
//    display: block;
//    width: 80%;
//    height: auto;
//    position: relative;
//  }
//  .advantages_underline {
//    display: none;
//  }
//  .advantages article {
//    min-width: 200px;
//  }
//
//  img[alt="iPhone"] {
//    width: 90%;
//    height: auto;
//    position: relative;
//  }
//
//}