.calculator-section {
  background-color: #F7F7F7;
}

.calculator-section h2 {
  padding-top: 40px;
  text-align: center;
  border-color: #F7F7F7;
}

.calculator {
  width: 100vw;
  display: flex;
  gap: 30px;
  justify-content: center;
  @media (max-width: 850px) {
    flex-direction: column;
    align-items: center;
  }
  form {
    width: 400px;
    padding-top: 10px;
    gap: 20px;
    input {
      padding: 10px;
      padding-left: 20px;
      border: 1px solid #08A6E4;
      border-radius: 5px;
      box-shadow: 0 1px 5px #08A6E4;
    }
  }
  .calculator_calculator {
    width: 380px;
    div {
      background-color: #55DFB4;
      border-radius: 5px;
      padding: 10px 20px;
      margin: 10px auto;
      color: white;
      font-size: 14px;
      font-family: Open Sans, sans-serif;
      display: flex;
      justify-content: space-between;
      span {
        display: block;
        &:last-child {
          font-weight: bold;
        }
      }
    }
  }
}

.calculator_form_select-Div {
  padding: 10px 20px;
  border: 1px solid #08A6E4;
  border-radius: 5px;
  box-shadow: 0 1px 5px #08A6E4;
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: rgb(35, 35, 35);
  position: relative;
  &-arrow {
    background-image: url("../images/Arrow Down.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-80%, -50%);
  }
  //rotacja strzałki
  &-arrow.arrowDown {
    transform: translate(-80%, -50%) rotate(180deg);
  }
  select {
    display: none;
  }
  .calculator_form_select-menu {
    //display: none;
    background-color: white;
    width: 400px;
    position: absolute;
    border-radius: 5px;
    border: 1px solid #EB476E;
    box-shadow: 0 1px 5px #EB476E;
    left: 0;
    top: 50px;
    p {
      padding: 10px 10px;
    }
    p:hover {
      background-color: #F7F7F7;
      border-radius: 5px;
    }
  }
  .calculator_form_select-menu.d-none {
    //TODO do toggle
    display: none;
  }
}

