.calculator-section {
  background-color: #F7F7F7;
}

.calculator-section h2 {
  padding-top: 40px;
  text-align: center;
  border-color: #F7F7F7;
}

.calculator {
  width: 100vw;
  display: flex;
  gap: 30px;
  justify-content: center;
  @media (max-width: 850px) {
    flex-direction: column;
    align-items: center;
  }
  form {
    width: 400px;
    padding-top: 10px;
    gap: 20px;
    input {
      padding: 10px;
      padding-left: 20px;
      border: 1px solid #08A6E4;
      border-radius: 5px;
      box-shadow: 0 1px 5px #08A6E4;
    }
    select {
      padding: 10px 15px;
      border: 1px solid #08A6E4;
      border-radius: 5px;
    }
  }
  .calculator_calculator {
    width: 380px;
    div {
      background-color: #55DFB4;
      border-radius: 5px;
      padding: 10px 20px;
      margin: 10px auto;
      color: white;
      font-size: 14px;
      font-family: Open Sans, sans-serif;
      display: flex;
      justify-content: space-between;
      span {
        display: block;
        &:last-child {
          font-weight: bold;
        }
      }
    }
  }
}
