@use "sass:color";
@import "var";

section, main {
  background-color: $bg_color;
  margin: 0 Auto;
  display: flex;
}

main {
  background-color: $bg_color;
  background-repeat: no-repeat;
  background-position: center 350px;
  background-size: contain;
  margin-top: 5px;
  max-width: $max_width;
  padding-top: 100px;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  h1 {
    margin-top: 20px;
    text-align: center;
  }

  p {
    text-align: center;
    padding: 10px 20px;
  }
  .main_btn {
    background-color: #08A6E4;
    min-width: 300px;
    padding: 20px 200px;
    height: 67px;
    box-shadow: 5px 10px 14px #07ACE629;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    border: 2px solid #08A6E4;

    &:hover {
      background-color: darken(#08A6E4, 2%);

    }

    @media (max-width: 310px) {
      border-radius: 0;
    }
  }
}

.main_img {
  width: 100%;
  height: auto;

}

@media (max-width: 800px) {
  main {
    .main_btn {
      padding: 20px 80px;
    }
  }
}

//  main {
//    aspect-ratio: 1.4;
//  }
//}
//
//@media (max-width: 850px) {
//  main {
//    background-position: center 250px;
//    margin-top: 0px;
//    padding-top: 30px;
//    aspect-ratio: 1.5;
//    gap: 20px;
//
//    h1 {
//      font-size: 30px;
//    }
//
//    p {
//      padding: 10px 30px;
//      font-size: 16px;
//    }
//  }
//}
//
//@media (max-width: 700px) {
//  main {
//    aspect-ratio: 1.3;
//  }
//}
//
//@media (max-width: 650px) {
//  main {
//    background-position: center -250px;
//    margin-top: 0px;
//    padding-top: 30px;
//    gap: 20px;
//
//    h1 {
//      font-size: 30px;
//    }
//
//    p {
//      padding: 10px 30px;
//      font-size: 16px;
//    }
//  }
//}

//  .main_btn {
//    background-color: #08A6E4;
//    max-width: 540px;
//    height: 67px;
//    box-shadow: 5px 10px 14px #07ACE629;
//    font-family: 'Open Sans', sans-serif;
//    font-size: 16px;
//    font-weight: normal;
//  }
//}


