@import "var";
.questions {
  max-width: $max_width;
  padding: 200px;
  justify-content: center;
  gap: 80px;
  flex-wrap: nowrap;
  @media (max-width: 1400px){
    padding: 100px 50px;
    gap: 40px;
  }
  @media (max-width: 1080px) {
    flex-direction: column;
    align-items: center;
  }
  @media (max-width: 500px) {
    align-items: flex-start;
    gap: 10px;
  }
}

.question_header {
  font-size: calc(49 / 16 * 1rem);
  margin-top: 60px;
  @media (max-width: 500px) {
    padding-left: 10px;
    
  }
}

.questions_adres p {
  display: flex;
  align-items: center;
  padding: 20px 0;
  span {
    color: #A5A5A5;
  }

  @media (max-width: 500px) {
    padding: 10px;
  }
  @media (max-width: 400px) {
    flex-direction: column;
    align-items: flex-start;
    //align-content: center;
    }
}

.question_icons {
  display: flex;
  @media (max-width: 440px) {
    flex-direction: column;
  }
}
span.question_icons-mail {
  display: inline-block;
  padding-right: 10px;
}
span.question_icons {
  display: inline-block;
  padding: 0 10px;
  @media (max-width: 450px) {
    padding-left: 0;
  }
}




form {
  width: 650px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media (max-width: 1200px) {
    gap: 0;
  }

  @media (max-width: 800px) {
    width: unset;
  }
}

label {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #08A6E4;
  padding: 10px;
}

.agreement {
  font-family: 'Open Sans', sans-serif;
  font-size: calc(12/16 * 1rem);
  color: #707070;
  font-weight: normal;
  display: flex;
}

span.checkbox {
  display: block;
  position: relative;
  width: 100px;
  aspect-ratio: 1;
  margin-right: 20px;
  letter-spacing: 0;
  border: 1px solid darkgrey;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 5px;
  align-self: flex-start;
}

.agreement input:checked + span {
  display: block;
  width: 100px;
  position: relative;
  aspect-ratio: 1;
  background-image: url("../images/Checkmark.svg");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
}

[type="checkbox"] {
  display: block;
  opacity: 0;
  width: 0;
  height: 0;
  cursor: none;
}

.label_name {
  margin-top: 20px;
}
.input_name {
  display: block;
  max-width: 650px;
  height: 57px;
  border: none;
  border-bottom: 1px solid #707070;
  padding: 44px;
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
  color: hsl(197deg 92% 25%);
  margin-bottom: 30px;
  letter-spacing: 3px;

  @media (max-width: 1200px) {
    padding: 30px;
    width: 100%;
  }
  @media (max-width: 400px) {
    padding: 5px;
    font-size: 15px;
    margin-bottom: 10px;
    height: 30px;
  }


}

.input_name:focus {
  outline: none;
  background-image: linear-gradient(hsl(198deg 100% 86%),white 60%);
  color: hsl(197deg 92% 25%);

}

.question_btn {
  align-self: flex-end;
  border: 2px solid #08A6E4;
  &:hover {
    background-color: darken(#08A6E4, 2%);
  }
  @media (max-width: 400px) {
    width: unset;
    padding: 15px 90px;
    align-self: center;
  }
}

@media (max-width: 800px) {
  .questions {
    padding: 70px;
  }
}

@media (max-width: 400px) {
  .questions {
    padding: 20px;
  }
}
