/** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    box-sizing: border-box;*/
/*    font-family: 'Raleway', sans-serif;*/
/*    --bg_color: #FFFFFF;*/
/*    --max_width: 1626px;*/
/*}*/

/*body {*/
/*    background-color: #F7F7F7;*/
/*}*/
/*h1 {*/
/*    font-family: 'Raleway', sans-serif;*/
/*    font-size: 49px;*/
/*}*/

/*h2 {*/
/*    font-family: 'Raleway', sans-serif;*/
/*    font-size: 36px;*/
/*    padding: 0;*/
/*    font-weight: 400;*/
/*}*/

/*h3 {*/
/*    font-family: 'Raleway', sans-serif;*/
/*    font-size: 32px;*/
/*    font-weight: 300;*/
/*    color: #08A6E4;*/
/*    text-align: center;*/
/*    padding: 10px 0;*/
/*}*/

/*h4 {*/
/*    text-align: center;*/
/*    padding: 20px 0;*/
/*}*/

/*h5  {*/
/*    font-family: 'Raleway', sans-serif;*/
/*    font-size: 20px;*/
/*    font-weight: 900;*/
/*    text-align: center;*/
/*}*/
/*p {*/
/*    font-family: 'Open Sans', sans-serif;*/
/*    font-size: 16px;*/
/*}*/

/*label, input {*/
/*    display: block;*/
/*}*/

ul {
    list-style-type: none;
    display: flex;
}

.frame {
    margin: 0 Auto;
    max-width: 1626px;
    box-shadow: 0 3px 6px #00000029;
}
/*.pricing_list {*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    gap: 15px;*/
/*}*/

.btn {
    display: block;
    padding: 25px 30px;
    width: 300px;
    background-color: #08A6E4;
    border-radius: 40px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

.bar {
    max-width: var(--max_width);
    padding:0 200px;
    margin: 0 Auto;
    background-color: white;
    box-shadow: 0 3px 6px #00000029;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 600px;
    align-items: center;
}

/*.nav_menu li {*/
/*    text-transform: uppercase;*/
/*    padding: 30px 20px;*/
/*    height: 65px;*/
/*    font-family: 'Open Sans', sans-serif;*/
/*    font-weight: bold;*/
/*    text-align: center;*/
/*}*/

/*.whyUs:hover, .benefits:hover, .prices:hover, .contact:hover {*/
/*    border-bottom: 4px solid #08A6E4;*/
/*}*/

/*section, main {*/
/*    max-width: var(--max_width);*/
/*    background-color: var(--bg_color);*/
/*    margin: 0 Auto;*/
/*    display: flex;*/
/*}*/

main {
    background-image: url("images/Background.png");
    background-repeat: no-repeat;
    background-position: 50% 90%;
    margin-top: 5px;
    height: 850px;
    padding-top: 100px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.main_btn {
    background-color: #08A6E4;
    width: 440px;
    height: 67px;
    box-shadow: 5px 10px 14px #07ACE629;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
}

.popularity {
    flex-direction: column;
    align-items: center;
    min-height: 531px;
    margin-bottom: 0;
    padding-top: 60px;
}

.popularity h2 {
    text-align: center;
}

.popularity_articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    padding: 100px 0;
}

.popularity_articles_dot {
    width: 63px;
    height: 63px;
    border-radius: 50%;
    background-color: yellow;
}

.popularity_articles_dot_left {
    background-color: red;
    position: relative;
}

.popularity_articles_dot_left::after {
    content: "";
    background-image: url("images/Person.svg");
    background-repeat: no-repeat;
    background-size: contain;
    left: 30px;
    width: 44px;
    height: 52px;
    aspect-ratio: 1;
    position: absolute;
}

.popularity_articles_dot_center {
    background-color: #08A6E4;
    position: relative;
}

.popularity_articles_dot_center::after {
    content: "";
    background-image: url("images/Eye.svg");
    background-repeat: no-repeat;
    background-size: contain;
    left: 20px;
    top: 15px;
    width: 65px;
    height: 36px;
    aspect-ratio: 1;
    position: absolute;
}

.popularity_articles_dot_right {
    background-color: #55DFB4;
    position: relative;
}

.popularity_articles_dot_right::after {
    content: "";
    background-image: url("images/Catalog.svg");
    background-repeat: no-repeat;
    background-size: contain;
    left: 30px;
    top: 5px;
    width: 52px;
    height: 48px;
    aspect-ratio: 1;
    position: absolute;
}
.popularity_articles p {
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    text-align: center;
}

.popularity_articles_left, .popularity_articles_center, .popularity_articles_right {
    width: 163px;
    height: 168px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/*.advantages {*/
/*    background-color: #F7F7F7;*/
/*    flex-direction: column;*/
/*    gap: 40px;*/
/*    padding: 105px 0px;*/
/*}*/

/*.advantages article {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: flex-start;*/
/*    gap: 30px;*/
/*    width: 416px;*/
/*}*/

/*.advantages_top,*/
/*.advantages_center {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    justify-content: center;*/
/*    max-width: 1124px;*/
/*    min-height: 370px;*/
/*    margin: 0 Auto;*/
/*    background-color: white;*/
/*    padding: 30px 36px;*/
/*}*/

/*.advantages_top {*/
/*    column-gap: 246px;*/
/*    row-gap: 150px;*/
/*    padding: 104px 36px;*/
/*}*/

/*.advantages_center {*/
/*    column-gap: 207px;*/
/*    row-gap: 50px;*/
/*}*/

/*.advantages_bottom {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    justify-content: center;*/
/*    max-width: 1124px;*/
/*    margin: 0 Auto;*/
/*    background-color: transparent;*/
/*    gap: 50px;*/
/*    padding: 0;*/
/*}*/
/*.advantages_bottom article {*/
/*    width: 554px;*/
/*    background-color: white;*/
/*    margin: 0;*/
/*    padding: 60px 30px;*/

/*}*/

/*.advantages_underline {*/
/*    width: 327px;*/
/*    height: 4px;*/
/*    margin-top: 20px;*/
/*    background-color: red;*/
/*}*/

/*.advantages_top_underline {*/
/*    background-color: #FB3B64;*/
/*}*/

/*.advantages_center_underline {*/
/*    background-color: #07ACE6;*/
/*}*/

/*.advantages_bottom_underline {*/
/*    background-color: #55DFB4;*/
/*}*/

/*img[alt="Computer"] {*/
/*    display: block;*/
/*    width: 386px;*/
/*    height: 219px;*/
/*    position: relative;*/
/*}*/
/*.advantages_top_computer {*/
/*    position: relative;*/
/*}*/

/*.advantages_top_computer::before {*/
/*    content: "";*/
/*    display: block;*/
/*    width: 200px;*/
/*    height: 200px;*/
/*    border-radius: 20px;*/
/*    position: absolute;*/
/*    left: 200px;*/
/*    top: -50px;*/
/*    background-color: #FB3B64;*/
/*    transform: rotate(-45deg);*/
/*    z-index: 0;*/
/*}*/

/*img[alt="iPhone"] {*/
/*    width: 426px;*/
/*    height: 328px;*/
/*    position: relative;*/
/*}*/

/*.advantages_center_iphone {*/
/*    position: relative;*/
/*    padding-top: 22px;*/
/*}*/

/*.advantages_center_iphone::before {*/
/*    content: "";*/
/*    display: block;*/
/*    width: 330px;*/
/*    height: 330px;*/
/*    border-radius: 50%;*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top: 0;*/
/*    background-color: #08A6E4;*/
/*    z-index: 0;*/
/*}*/

/*img[alt="trumpet"] {*/
/*    width: 295px;*/
/*    height: 207px;*/
/*}*/

/*.advantages_bottom article {*/
/*    width: 632px;*/
/*    margin: 0;*/
/*}*/
/*.advantages_bottom_trumpet {*/
/*    width: 440px;*/
/*    height: 370px;*/
/*    background-color: #55DFB4;*/
/*    position: relative;*/
/*}*/

/*.advantages_bottom_trumpet img {*/
/*    position: absolute;*/
/*    top: 100px;*/
/*    left: 50px;*/
/*}*/
/*.pricing {*/
/*    margin-top: 0px;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    padding-top: 100px;*/
/*    padding-bottom: 40px;*/
/*}*/

/*.pricing h2 {*/
/*    padding-bottom: 50px;*/
/*}*/

/*.pricing_offers {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    flex-wrap: wrap;*/
/*    justify-content: center;*/
/*    gap: 100px;*/
/*}*/

/*.price_btn {*/
/*    width: 150px;*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    left: 140px;*/
/*}*/

/*.price_btn--basic {*/
/*    background-color: #EB476E;*/

/*}*/
/*.price_btn--pro {*/
/*    background-color: #07ACE6;*/
/*}*/

/*.price_btn--premium {*/
/*    background-color: #55DFB4;*/
/*}*/

/*.pricing_offers_box {*/
/*    position: relative;*/
/*    width: 430px;*/
/*    height: 600px;*/
/*    padding-top: 100px;*/
/*    outline: 1px solid #07ACE6;*/
/*    outline-offset: -30px;*/
/*    border-radius: 50px;*/
/*}*/

/*.pricing_offers_box:hover {*/

/*    outline: none;*/
/*    border-radius: 20px;*/
/*}*/

/*.pricing_offers_box:hover > h3 {*/
/*    padding-bottom: 20px;*/
/*}*/

/*.pricing_offers_box:hover > h4 {*/
/*    padding-top: 0;*/
/*}*/

/*.pricing_offers_box:hover > .pricing_list {*/
/*    gap: 30px;*/
/*}*/

/*.pricing_offers_box:hover > .price_btn {*/
/*    bottom: -30px;*/
/*    left: 140px;*/
/*}*/

/*.pricing_offers_basic {*/
/*    outline-color: #EB476E;*/
/*}*/

/*.pricing_offers_basic:hover {*/
/*    box-shadow: 0 0 15px 0 #EB476E;*/
/*}*/

/*.pricing_offers_premium {*/
/*    outline-color: #55DFB4;*/
/*}*/

/*.pricing_offers_premium:hover {*/
/*    box-shadow: 0 0 15px 0 #55DFB4;*/
/*}*/

/*.pricing_offers_pro {*/
/*    outline-color: #07ACE6;*/
/*}*/

/*.pricing_offers_pro:hover {*/
/*    box-shadow: 0px 0px 15px 0px #07ACE6;*/
/*}*/

/*.price_btn {*/
/*    width: 150px;*/
/*    position: absolute;*/
/*    bottom: -10px;*/
/*    left: 140px;*/
/*}*/

/*.price_btn:hover {*/
/*    width: 165px;*/
/*}*/

.pricing_list li::marker {
    content: url("images/Ckechmark-1.svg");
    letter-spacing: 5px;
}

.pricing_list li span {
    display: inline-block;
    width: 10px;
}

.limited_offer {
    text-align: center;
    padding-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: 800;
}
.pricing_list li.pricing_list_negative::marker {
    content: url("images/Close.svg");
    letter-spacing: 5px;
}

.questions {
    padding: 200px;
    justify-content: center;
    gap: 80px;
    flex-wrap: wrap;
}

.question_header {
    font-size: 49px;
    margin-top: 60px;
}

.questions_adres p {
    display: flex;
    align-items: center;
    padding: 20px 0;
}

span.question_icons-mail {
    display: inline-block;
    padding-right: 10px;
}
span.question_icons {
    display: inline-block;
    padding: 0 10px;
}


form {
    width: 650px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

label {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #08A6E4;
    padding: 10px;
}

.agreement {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #707070;
    font-weight: normal;
    display: flex;
}

span.checkbox {
    display: block;
    position: relative;
    width: 100px;
    aspect-ratio: 1;
    margin-right: 20px;
    letter-spacing: 0;
    border: 1px solid darkgrey;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    align-self: flex-start;
}

.agreement input:checked + span {
    display: block;
    width: 100px;
    position: relative;
    aspect-ratio: 1;
    background-image: url("images/Checkmark.svg");
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
}

[type="checkbox"] {
    display: block;
    opacity: 0;
    width: 0;
    height: 0;
    cursor: none;
}

.label_name {
    margin-top: 20px;
}
.input_name {
    display: block;
    width: 650px;
    height: 57px;
    border: none;
    border-bottom: 1px solid #707070;
    padding: 44px;
    font-size: 30px;
    font-family: "Open Sans", sans-serif;
    color: hsl(197deg 92% 25%);
    margin-bottom: 30px;
    letter-spacing: 3px;
}

.input_name:focus {
    outline: none;
    background-image: linear-gradient(hsl(198deg 100% 86%),white 60%);
    color: hsl(197deg 92% 25%);

}

.question_btn {
    align-self: flex-end;
}

.footer {
    box-shadow: 0 -5px 40px #00000029;
    flex-wrap: wrap;
    column-gap: 750px;
}

.footer_logo h3 {
    text-align: left;
}

.footer_logo_copyRight {
    font-size: 11px;
    padding-bottom: 15px;
}

.footer_icons {
    width: 200px;
    display: flex;
    justify-content: right;
    gap: 20px;


}
